---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Noviembre 2024 - Mayo 2025",
    title: "Supply Chain & Operations Analytics Intern",
    company: "Accenture",
    description:
      "Optimicé procesos en la cadena de suministro aplicando técnicas avanzadas de ciencia de datos. Desarrollé aplicaciones y scripts utilizando PyCharm, implementando pruebas unitarias e integración. Diseñé y desarrollé una aplicación web full-stack con Streamlit, integrando un chatbot de IA. Creé dashboards interactivos en Power BI para visualizar KPIs.",
    link: "#",
  },
  {
    date: "Junio 2023 - Agosto 2023",
    title: "Intern",
    company: "Merkle",
    description:
      "Contribuí en proyectos basados en datos, mejorando procesos y proporcionando insights accionables para la optimización de recursos.",
  },
  {
    date: "Junio 2022 - Agosto 2022",
    title: "Intern",
    company: "Merkle",
    description:
      "Apliqué técnicas de análisis de datos en proyectos reales, colaborando con equipos multidisciplinares para resolver desafíos empresariales.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
